
<ion-content [fullscreen]="true">

  <ion-tabs>


    <ion-tab-bar color='secondary'>

      <!-- TODO show this on the top nav bar when you are on a large screen -->
      <ion-tab-button tab="examples">
        <ion-icon name="search-outline"></ion-icon>
        <ion-label>Discover</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="detail">
        <ion-icon name="document-outline"></ion-icon>
        <ion-label>Current Paper</ion-label>
      </ion-tab-button>


    </ion-tab-bar>


  </ion-tabs>

</ion-content>
